@font-face {
    font-family: RobotoBold;
    src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
}
  

.navBar{
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
}

#menuIcon{
    display: flex;
    margin-left: 5vw;
    align-items: center;
    gap: 10px;
    flex-basis: 0;
    flex-grow: 1;
}

#menuIcon span{
   font-family: 'RobotoBold';
   font-size: 0.8rem;
   color: #FBFCF8;
}

#menuIcon > *, .options > *{
    cursor: pointer;
}

.options{
    display: flex;
    margin-right: 5vw;
    align-items: center;
    gap: 40px;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: end;
}

#menu{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45%;
    height: 100vh;
    background-color: #FBFCF8;
    overflow: hidden;
    z-index: 90;
    background: linear-gradient( 135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px) saturate(1.8);
}

#menu__container{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
}

#menu__close{
    /* background-color: aqua; */
    position: absolute;
    top: 10vh;
    left: 4vh;
    display: flex;
    justify-content: center;
    width: 5%;
    cursor: pointer;
    height: 4%;
}

#menu__options{
    background-color: aqua;
    height: 50vh;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 5vw;
    translate: 0 -50%;
}